@using Cigler_Telerik.Models.Entities
@model List<Cigler_Telerik.Models.Entities.Person>

@{
	ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Nová osoba", "Create")</h2>
<script>
	var dataSource = new kendo.data.DataSource(Model);
</script>

@(Html.Kendo().Grid(Model)
	.Name("Test")
	.Columns(c =>
	{
		c.Bound(p => p.FirstName);
		c.Bound(p => p.LastName);

		c.Bound(p => p.IC);
		c.Bound(p => p.DIC);
		c.Bound(p => p.Id).ClientTemplate(
				@Html.ActionLink("Pridat adresu", "Create", "Address", new {personId= "#=Id#" }, new {}).ToString()
			).Title("Nová Adresa")
			.Sortable(false).Filterable(false);
		c.Bound(p => p.Id).ClientTemplate(
				@Html.ActionLink("Upravit", "Edit", "People", new { Id = "#=Id#" }, new { }).ToString()
			).Title("Upravit")
			.Sortable(false).Filterable(false);
		c.Bound(p => p.Id).ClientTemplate(
			@Html.ActionLink("Smazat", "Delete", "People", new { Id = "#=Id#" }, new { }).ToString()
		).Title("Smazat")
			.Sortable(false).Filterable(false);
	})
	  .Pageable()
	  .Sortable()
	  .Filterable()
	  .DataSource(datasource=> datasource
			.Ajax()
			.Read(read=>read.Action("People_Read","People")))
	  .ClientDetailTemplateId("template"))

<script id="template" type="text/x-kendo-template">
	<h3 style="margin-top:-5px">Adresy</h3>
	# if (data.Addresses.length === 0) { #
	Žádné nenalezeny
	# } # 
	# for (var i = 0; i < data.Addresses.length; i++) { #
	<li>#=data.Addresses[i].Street #, #=data.Addresses[i].City #, #=data.Addresses[i].PSC #</li>
	# } #

</script>


